.form-select, .form-control {
    color: #479fcf;
    border: none;
    margin-bottom: 16px;
    font-size: 1.25rem;
    height: 56px;
    width: 60vw;
    margin-left: 15%;
}
#book-bt{
    border: none;
    background-color: blueviolet;
    color: white;
    height: 10%;
    width: 20%;
    margin-left: 40%;
}

footer{
    border: 1px solid lightblue;
    margin-top: 5%;
    background-color: azure;;
    padding: 2%;
}
footer h2{
    color: royalblue;
}
footer h6{
    color:teal ;
}
footer a{
    color: teal;
    text-decoration: none;
}
footer a:hover{
    color: teal;
    text-decoration: underline;
}