*{
    margin:0;
    font-family: sans-serif;
}

.online-section{
    display: flex;
     justify-content: center; 
    align-items: center;
    gap: 20px;  
    height: 100vh;
    padding-left:50px;
}

.mydata{
    border:1px solid #479fcf;
    width:30%;
    padding: 20px;
    box-shadow: 2px 3px 15px whitesmoke;
    border-radius: 5px;
}
.mydata h1{
    text-align: center;
}
.myform{
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    height: 80%;
}
.myform input{
    padding: 8px;
    margin-top: 1%;
    margin-bottom: 2%;
    border:0.5px solid grey;
    border-radius: 5px;
}

.btn{
    background-color: #479fcf;
    color: white;
    border: none;
    padding: 7px;
    border-radius: 5px;
    margin-bottom: 2%;
    cursor: pointer;
}
.btn a{
    text-decoration: none;
    color: white;
    font-size: 16px;
}

#tests{
    margin-top: 2px;
    margin-bottom: 2%;
}
select {
    width: 100%;
    padding: 10px;
    height: 40px;
    font-size: 16px;
    border: 1px solid #808080;
    border-radius: 5px;
    box-sizing: border-box;
}

#symptom{
    margin-top: 2px;
    margin-bottom: 2%;

}

#branch{
    margin-top: 2px;
    margin-bottom: 2%;
}
.image{
    margin:0;
    width: 50%;
}

@media all and (min-width:992px) and (max-width:1200px){
    .online-section{    
        display:flex;
        flex-direction: row;
    }
}

@media all and (min-width:768px) and (max-width:992px){
    .myform{
        height: 70%;
    }
}

@media all and (min-width:576px) and (max-width:768px){
    .myform{
        height: 60%;
        padding-right: 10%;   
    }
    .image{
        display:none;
    }   
}

@media all and (max-width:576px){
    .image{
        display:none;
    }   
    .mydata{
        width:80%;
    }

}