*{
    font-family: sans-serif;
    /* border:1px solid black; */
}

.success-box {
    display: none;
    background: #e6fff5;
    border-left: 5px solid #00a67d;
    padding: 15px;
    margin-bottom: 20px;
    font-size: 18px;
    color: #008060;
    border-radius: 5px;
}


.visit-section{
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
    height: 100vh;
    padding-left: 50px;
}

.mydata{
   
    width:400px;
    padding: 20px;
    box-shadow: 2px 3px 20px grey;
    border-radius: 5px;
    /* margin-top: 5%; */
}
.mydata h1{
    text-align: center;
}
.myform{
    display: flex;
    flex-direction: column;
    margin-top: 5%;
}
.myform input{
    padding: 8px;
    margin-top: 1%;
    margin-bottom: 2%;
    border:0.5px solid grey;
    border-radius: 5px;
}

.btn{
    background-color: #479fcf;
    color: white;
    border: none;
    padding: 7px;
    border-radius: 5px;
    margin-bottom: 2%;
}

/* .btn a{
    text-decoration: none;
    color: white;
    font-size: 16px;
} */

.btn:hover{
    color:#479fcf;
    border:1px solid #479fcf;
    background-color: white;
}

.btn:active{
    color:white;
    background-color: #479fcf;
    /* border: none; */
}

.tests{
    margin-top: 2px;
    margin-bottom: 2%;
}

select {
    width: 100%;
    padding: 10px;
    height: 37px;
    font-size: 16px;
    border: 1px solid #808080;
    border-radius: 5px;
    box-sizing: border-box;
}

.symptoms{
    margin-top: 2px;
    margin-bottom: 2%;

}
.image{
    margin:0;
}

.image img{
    width: 450px;
    height: auto;
    /* border: 1px solid black; */
}

@media all and (min-width:576px) and (max-width:768px){
    .myform{
        height: 60%;
        padding-right: 10%;  
    }
    .image{
        display:none;
    }   
}

@media all and (max-width:576px){
    .image{
        display:none;
    }   
    .mydata{
        width:80%;
    }
}

footer{
    border: 1px solid lightblue;
    margin-top: 5%;
    background-color: azure;;
    padding: 2%;
}
footer h2{
    color: royalblue;
}
footer h6{
    color:teal ;
}
footer a{
    color: teal;
    text-decoration: none;
}
footer a:hover{
    color: teal;
    text-decoration: underline;
}